body{
    margin:0;
}

/* header */
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'STIX Two Text', serif;
    font-size: 3.125rem;
    font-style: italic;
    color: #9E9E9E;
    text-transform: uppercase;
}

.maj{
    text-transform: none;
    font-size: 6.25rem ;
    color: #000000;
}

.logo{
    padding: 0 2.9375rem;
}

ul{
    display:flex;
    list-style-type: none;
    padding: 0;
}

.menu a {
    font-style: italic;
    font-size: 2.625rem;
    padding: 2.9375rem;
    color: #373636;
    text-decoration: none;
}

/* main section image arrière plan header et titre */

.background_header{
    background-image: url("moodboard/musée.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 880px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


h2 {
    font-family: 'Overlock', cursive;
    font-size: 6.25rem;
    margin: 0;
    text-align: right;
    color:#ffffff; 
    padding-right: 6.25rem;
    padding-bottom: 4.6875rem;
}

/* main section diapo_flex arrière plan diapo,titre et texte */
.btn {
    font-family: 'Overlock', cursive;
    font-size: 2rem;
    color: #EDD9AD;
}

.diapo_flex{
    display: flex;
}
  
.right_position{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 50%;
    background-image: url(moodboard/cadran_solaire.png);
    background-repeat: no-repeat;
    background-position: bottom -9.375rem right -8.125rem;
    justify-content: center;
   
}

.background_diapo{
    background-image: url("moodboard/diapo_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 880px;
    width: 100vw;
    border-radius: .625rem;
    margin: 3.75rem 1.375rem;  
    display: flex;
}

h3 {
    color:#EDD9AD;
    font-family: 'Overlock', cursive;
    font-size: 2.5rem;
    display: flex;  
}

p{
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    color:#ffffff;
    display: flex;
    margin-right: 15%;
}

/* main section croquis_flex croquis, texte et bordure */
.croquis_flex{
    display: flex;
}

.contain {
    border: solid 1px #615947;
    margin
}

