body{
    margin:0;
}

/* header */
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'STIX Two Text', serif;
    font-size: 3.125rem;
    font-style: italic;
    color: #9E9E9E;
    text-transform: uppercase;
}

.maj{
    text-transform: none;
    font-size: 6.25rem ;
    color: #000000;
}

.logo{
    padding: 0 2.9375rem;
}

ul{
    display:flex;
    list-style-type: none;
    padding: 0;
}

.menu a {
    font-style: italic;
    font-size: 2.625rem;
    padding: 2.9375rem;
    color: #373636;
    text-decoration: none;
}

/* main section image arrière plan header et titre */

.background_header{
    background-image: url("moodboard/musée.jpg");
    background-repeat: no-repeat;
    width:100vw;
    height: 880px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

h2 {
    font-family: 'Overlock', cursive;
    font-size: 6.25rem;
    margin: 0;
    text-align: right;
    color:#ffffff; 
    padding-right: 100px;
 
   
    
    

}
